@charset "UTF-8";
#leadBlock {
  height: 460px; }

#leadBlock h2 {
  width: 615px;
  height: 139px;
  background: url(../images/pageTtl/ttl_goods1.png) 0 0 no-repeat;
  left: 20px;
  margin-top: 120px; }

#bottomMenu {
  height: 1050px; }

#inner {
  text-align: left;
  line-height: 1.7;
  background:#0c0c0c;
}

#inner p {
  padding-left: 20px;
}
