@charset "UTF-8";
/* shop */
#leadBlock {
  overflow: hidden;
  padding-top: 30px;
  position: relative; }

#leadBlock h2 {
  display: block;
  margin-top: 100px;
  text-indent: -9999px;
  position: absolute;
  z-index: 0;
  right: 0; }

div.annex #leadBlock h2 {
  width: 263px;
  height: 48px;
  background: url(../images/annexTtl.png) 0 0 no-repeat; }

div.street #leadBlock h2 {
  width: 382px;
  height: 44px;
  background: url(../images/streetTtl.png) 0 0 no-repeat; }

div.yokohama #leadBlock h2 {
  width: 282px;
  height: 47px;
  background: url(../images/yokohamaTtl.png) 0 0 no-repeat; }

#leadBlock dl {
  float: left;
  width: 227px;
  height: 301px;
  padding: 22px 0 0 15px;
}

#leadBlock dt {
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
#leadBlock dd {
  width: 224px;
  height: 84px;
  margin-bottom: 2px;
  background: url(../images/bgBlack.png) 0 0;
}
#leadBlock dd a {
  color: #fff;
  display: block;
  position: relative;
  line-height: 1.4;
  text-align: left;
}
#leadBlock #shop1 { border-left: 2px solid #e0640a;}
#leadBlock #shop2 { border-left: 2px solid #0002ca;}
#leadBlock #shop3 { border-left: 2px solid #424242;}
div.yokohama #leadBlock #shop1,
div.street #leadBlock #shop2,
#leadBlock #shop1:hover,
#leadBlock #shop2:hover,
#leadBlock #shop3:hover { border-left-width: 10px; width: 216px;}

#leadBlock dd a b {
  font-size: 10px;
}

#leadBlock dd a span {
  position: absolute;
  top: 24px;
  left: 28px;
}
div.yokohama #leadBlock #shop1 a span,
div.street #leadBlock #shop2 a span,
#leadBlock #shop1:hover a span,
#leadBlock #shop2:hover a span,
#leadBlock #shop3:hover a span{ margin-left: -8px;}
#leadBlock #expander {
  background: url(../images/bgBlack.png) 0 0;
  width: 0;
  height: 258px;
  top: 21px;
  left: 2px;
  position: relative;
  overflow: hidden;
  z-index: 1000;
  float: left;
  text-align: left; }

#leadBlock #expander li.shopSeeker {
  height: 301px;
  position: relative; }

#leadBlock #expander #shop1cont {
  background: url(../images/shop1detail.png) 4px 4px no-repeat; }

#leadBlock #expander #shop2cont {
  background: url(../images/shop2detail.png) 4px 4px no-repeat; }

#leadBlock #expander #shop3cont {
  background: url(../images/shop3detail.png) 4px 4px no-repeat; }

#leadBlock #expander #shop4cont div {
  background: url(../images/shop4detail.gif) 0 50% no-repeat;
  margin: 4px;
  width: 100%;
  height: 250px; }

#leadBlock #expander a.pos {
  display: block;
  width: 71px;
  height: 71px;
  position: absolute;
  right: 10px;
  top: 178px;
  text-indent: -9999px; }

#leadBlock #expander #shop1cont a.pos {
  background: url(../images/toShopPageBtn1.png) 0 0 no-repeat; }

#leadBlock #expander #shop2cont a.pos {
  background: url(../images/toShopPageBtn2.png) 0 0 no-repeat; }

#leadBlock #expander #shop3cont a.pos {
  background: url(../images/toShopPageBtn3.png) 0 0 no-repeat; }

#leadBlock #expander #shop4cont a.pos {
  background: url(../images/toShopPageBtn4.png) 0 0 no-repeat; }

#leadBlock #expander #shop1cont a.pos:hover,
#leadBlock #expander #shop2cont a.pos:hover,
#leadBlock #expander #shop3cont a.pos:hover,
#leadBlock #expander #shop4cont a.pos:hover {
  background-position: 0 -71px; }

#bottomMenu {
  width: 100%;
  background: #0c0c0c;
  position: relative;
  overflow: hidden; }

#bottomMenu #navWrap {
  height: 55px;
  position: relative;
  background: black; }

div.annex #bottomMenu #navWrap {
  border-bottom: 1px solid #ae0707; }

div.street #bottomMenu #navWrap {
  border-bottom: 1px solid #0000ca; }

div.yokohama #bottomMenu #navWrap {
  border-bottom: 1px solid #eb2f01; }

#bottomMenu #navWrap dl {
  text-indent: -9999px;
  padding-top: 15px; }

#bottomMenu #navWrap dt {
  position: absolute;
  top: 15px;
  left: 30px;
  height: 22px; }

div.annex #navWrap dt {
  background: url(../images/annexNavTtl.jpg) 0 0 no-repeat;
  width: 274px; }

div.street #navWrap dt {
  background: url(../images/streetNavTtl.jpg) 0 0 no-repeat;
  width: 360px; }

div.yokohama #navWrap dt {
  background: url(../images/yokohamaNavTtl.jpg) 0 0 no-repeat;
  width: 429px; }

#bottomMenu #navWrap dd {
  position: absolute;
  top: 15px;
  height: 22px; }

#bottomMenu #navWrap dd a {
  display: block;
  width: 100%;
  height: 100%; }

#bottomMenu #navWrap dd a:hover,
#bottomMenu #navWrap dd a.current {
  background-position: 0 -22px; }

div.annex #navWrap dd.nav1 {
  width: 56px;
  left: 335px; }

div.annex #navWrap dd.nav2 {
  width: 91px;
  left: 439px; }

div.annex #navWrap dd.nav3 {
  width: 46px;
  left: 588px; }

div.annex #navWrap dd.nav4 {
  width: 69px;
  left: 691px; }

div.annex #navWrap dd.nav5 {
  width: 118px;
  left: 810px; }

div.annex #navWrap dd.nav1 a {
  background: url(../images/annexNav1.jpg) 0 0 no-repeat; }

div.annex #navWrap dd.nav2 a {
  background: url(../images/annexNav2.jpg) 0 0 no-repeat; }

div.annex #navWrap dd.nav3 a {
  background: url(../images/annexNav3.jpg) 0 0 no-repeat; }

div.annex #navWrap dd.nav4 a {
  background: url(../images/annexNav4.jpg) 0 0 no-repeat; }

div.annex #navWrap dd.nav5 a {
  background: url(../images/annexNav5.jpg) 0 0 no-repeat; }

div.street #navWrap dd.nav1 {
  width: 54px;
  left: 410px; }

div.street #navWrap dd.nav2 {
  width: 90px;
  left: 490px; }

div.street #navWrap dd.nav3 {
  width: 104px;
  left: 604px; }

div.street #navWrap dd.nav4 {
  width: 65px;
  left: 739px; }

div.street #navWrap dd.nav5 {
  width: 99px;
  left: 827px; }

div.street #navWrap dd.nav1 a {
  background: url(../images/streetNav1.jpg) 0 0 no-repeat; }

div.street #navWrap dd.nav2 a {
  background: url(../images/streetNav2.jpg) 0 0 no-repeat; }

div.street #navWrap dd.nav3 a {
  background: url(../images/streetNav3.jpg) 0 0 no-repeat; }

div.street #navWrap dd.nav4 a {
  background: url(../images/streetNav4.jpg) 0 0 no-repeat; }

div.street #navWrap dd.nav5 a {
  background: url(../images/streetNav5.jpg) 0 0 no-repeat; }
div.yokohama #bottomMenu #navWrap dt {
	left: 15px;
}
div.yokohama #bottomMenu #navWrap dd {
  top: 0;
  height: 53px;
}
div.yokohama #bottomMenu #navWrap dd a.current {
  background-position: 0 0;
}
div.yokohama #navWrap dd.nav1 {
  width: 58px;
  left: 446px; }
div.yokohama #navWrap dd.nav2 {
  width: 97px;
  left: 504px; }
div.yokohama #navWrap dd.nav3 {
  width: 140px;
  left: 604px; }
div.yokohama #navWrap dd.nav4 {
  width: 69px;
  left: 744px; }
div.yokohama #navWrap dd.nav5 {
  width: 85px;
  left: 813px; }
div.yokohama #navWrap dd.nav6 {
  width: 51px;
  left: 898px; }
div.yokohama #navWrap dd.nav1 a {
  background: url(../images/yokohamaNav1.jpg) 0 0 no-repeat; }
div.yokohama #navWrap dd.nav2 a {
  background: url(../images/yokohamaNav2.jpg) 0 0 no-repeat; }
div.yokohama #navWrap dd.nav3 a {
  background: url(../images/yokohamaNav3.jpg) 0 0 no-repeat; }
div.yokohama #navWrap dd.nav4 a {
  background: url(../images/yokohamaNav4.jpg) 0 0 no-repeat; }
div.yokohama #navWrap dd.nav5 a {
  background: url(../images/yokohamaNav5.jpg) 0 0 no-repeat; }
div.yokohama #navWrap dd.nav6 a {
  background: url(../images/yokohamaNav6.jpg) 0 0 no-repeat; }
div.yokohama #navWrap dd a:hover,
div.yokohama #navWrap dd a.current {
    background-position: 0 -53px!important;
}

#bottomMenu #annexMovie1,
#bottomMenu #streetMovie1,
#bottomMenu #yokohamaWrap1 {
  margin-top: 15px;
  text-align: left;
  overflow: hidden; }

#bottomMenu #annexMovie1 ul,
#bottomMenu #streetMovie1 ul,
#bottomMenu #yokohamaWrap1 ul {
  overflow: hidden;
  margin-top: 10px; }

#bottomMenu #annexMovie1 ul li,
#bottomMenu #streetMovie1 ul li,
#bottomMenu #yokohamaWrap1 ul li {
  float: left;
  overflow: hidden; }

#bottomMenu #annexMovie2,
#bottomMenu #streetMovie2,
#bottomMenu #yokohamaMovie1 {
  clear: both;
  margin: 20px 0 15px;
  text-align: left;
  overflow: hidden; }

#bottomMenu #movieSlider {
  width: 930px;
  margin: 0 auto 0;
  position: relative;
  background: black; }

#bottomMenu #movieSlider div.bx-wrapper {
  margin: 0 auto; }

#bottomMenu #movieSlider ul {
  width: 778px;
  margin: 10px auto;
  overflow: hidden; }

#bottomMenu #movieSlider ul li {
  overflow: hidden; }

#bottomMenu #movieSlider ul li p {
  float: left; }

#bottomMenu #movieSlider ul li p.adj {
  margin: 170px 18px 0 0; }

#bottomMenu #movieSlider a.bx-prev {
  background: url(../images/iconArrowLeft.png) 0 0 no-repeat;
  left: -55px;
  text-indent: -9999px;
  width: 31px;
  height: 31px;
  display: block;
  position: absolute;
  top: 180px; }

#bottomMenu #movieSlider a.bx-next {
  background: url(../images/iconArrowRight.png) 0 0 no-repeat;
  right: -40px;
  text-indent: -9999px;
  width: 31px;
  height: 31px;
  display: block;
  position: absolute;
  top: 180px; }

#bottomMenu #movieSlider a:hover {
  background-position: 0 -31px; }

#bottomMenu #map small {
  display: none; }

#bottomMenu #streetWrap1 {
  margin-top: 30px; }

#bottomMenu #streetWrap1 dl {
  background: url(../images/streetStepBg.jpg) 0 0 no-repeat;
  width: 931px;
  height: 253px;
  position: relative;
  margin: 25px 0 20px 10px; }

#bottomMenu #streetWrap1 dl dt {
  text-indent: -9999px; }

#bottomMenu #streetWrap1 dl dd {
  position: absolute;
  top: 55px;
  width: 210px;
  line-height: 1.5; }

#bottomMenu #streetWrap1 dl dd.pos1 {
  left: 6px; }

#bottomMenu #streetWrap1 dl dd.pos2 {
  left: 247px; }

#bottomMenu #streetWrap1 dl dd.pos3 {
  left: 477px; }

#bottomMenu #streetWrap1 dl dd.pos4 {
  left: 710px; }

#bottomMenu #streetWrap2 {
  padding: 0 10px; }

#bottomMenu #streetWrap2 ul.simulation {
  background: #fff;
  overflow: hidden; }

#bottomMenu #streetWrap2 ul.simulation li {
  float: left;
  color: #000;
  font-size: 12px; }

#bottomMenu #streetWrap2 ul.simulation li.txt {
  padding: 20px 0 0 15px; }

#bottomMenu #streetWrap2 ul.simulation li span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 14px; }

#bottomMenu #lineup {
  background: url(../images/yokohamaLineup.jpg) 0 0 no-repeat;
  text-indent: -9999px;
  width: 960px;
  height: 720px; }

#bottomMenu .imgWrap {
  overflow: hidden;
  padding-left: 10px; }

#bottomMenu .imgWrap a {
  display: block;
  margin: 0 5px 5px 0;
  float: left; }

#bnrArea {
  clear: both;
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929;
  padding-left: 150px; }

#bnrArea ul {
  overflow: hidden; }

#bnrArea li {
  float: left;
  margin-right: 5px; }

.slideTw {
  width: 486px;
  height: 273px; }
