@charset "UTF-8";
#leadBlock {
  height: 460px; }

#leadBlock h2 {
  width: 420px;
  height: 139px;
  background: url(../images/pageTtl/ttl_stock.png) 0 0 no-repeat;
  left: 20px;
  margin-top: 120px; }

#bottomMenu {
  height: 900px; }
