@charset "UTF-8";

#bayStyleWrap {
	overflow: hidden;
	margin-left:20px;
}
#bayStyleWrap li{
	float: left;
	margin-right: 2px;
}
#tw {
  background: url(../images/yokohamaTwBg.jpg) 0 0 no-repeat;
  height: 1600px;
  text-indent: -9999px;
  margin-bottom: 50px; 
}
