		.aim{position:relative;margin:0;clear:both; padding:0}
		.aim a{background-position:center center;cursor:pointer;display:block;overflow:hidden;position:relative;float:left;text-decoration:none}
		.aim a:hover, .aim a:visited{text-decoration:none}
		.aim ul{list-style:none}
		.aim li{display:block;overflow:hidden;float:left;}
		.aim a span{color:#FFFFFF;width:100%;display:block; padding:2px 5px 7px;position:absolute;background:#000;font-size:18px;font-weight:bold;height:50px; line-height:50px; text-align:center}
		.aim a span:hover{ color:#ff0000}