@charset "UTF-8";

#leadBlock{
	height:460px;
}
#leadBlock h2 {
	width: 680px;
	height: 439px;
	background: url(../images/pageTtl/ttl_company.png) 0 0 no-repeat;
	left:20px;
	margin-top:120px;
}
#bottomMenu{
	height:1100px
}
#gaiyou{
	height:512px;
}
#gaiyou img{
	display:block
}
#company_seet{
	background:url(../images/company_seet.jpg) 0 0 no-repeat;
	height:512px;
	width:960px;
	margin-top:512px;
	position:relative;
}
#company_seet a{
	position:absolute;
	display:block;
	width:810px;
	height:33px;
	left:78px;
	bottom:12px;
	text-indent:-9999px;
}

