@charset "UTF-8";

#leadBlock{
	height:460px;
}
#leadBlock h2 {
	width: 547px;
	height: 138px;
	background: url(../images/pageTtl/ttl_gio.png) 0 0 no-repeat;
	left:20px;
	margin-top:120px;
}
#bottomMenu{
	text-align:left;
	height:850px
}
#inner{
	position:relative;
}
#inner p{
	padding:0 25px
}
