@charset "UTF-8";

#block1{ margin:30px 0; background:url(../images/dressyBigBg.jpg) 0 0 no-repeat; width:960px; height:1110px; position:relative}
#block1 p{ position:absolute; top:290px; left:20px; text-align:left; line-height:2}
#block1 div{ position:relative; top:492px; }
iframe{ margin:0; padding:0}