@charset "UTF-8";

#bottomMenu #movieSlider { overflow:hidden;}
#bottomMenu #movieSlider li img{ float:left; margin-bottom:5px; margin-right:5px}
div.bx-window{padding-left:20px}
#lightbox-image-details-currentNumber{ color:#fff;}